.App {
  font-size: 20px;
}

img {
width:100%;
}

header {
text-align: center;
}

.Row {
background-color: white;
text-align: center;
padding: 20px;
color: black;
display: flex;
margin:50px;
justify-content: center;
}

.First {
flex: 1;
}

.Second{
  flex: 1;
}

.Third{
  flex: 1;
}